<%- include('partials/header'); -%>

<H1>NRL (multi) Vaccination rendered as html</H1>


<H2>Vaccination details</H2>

 <% for(var i=1; i <= vaccCount; i++) { %>
 <p>Vaccination number : <%= [i] %>
 <table>
   <tr>
     <td>identifier system </td>
     <td><%= identifierSystem[i] %></td>
   </tr>
   <tr>
    <td>identifier (value)</td>
    <td><%= identifierValue[i] %></td>
  </tr>
  <tr>
    <td>vaccineProcedure (SNOMED)</td>
    <td><%= vaccineProcedureCode[i] %></td>
  </tr>
  <tr>
    <td>vaccineProcedure (display)</td>
    <td><%= vaccineProcedureDisplay[i] %></td>
  </tr>
  <tr>
    <td>vaccineCode (SNOMED)</td>
    <td><%= vaccineCodeSNOMED[i] %></td>
  </tr>
  <tr>
    <td>vaccineCode (Display)</td>
    <td><%= vaccineCodeDisplay[i] %></td>
  </tr>
  <tr>
    <td>notGiven</td>
    <td><%= notGiven[i] %></tr>
  <tr>
    <td>dateChar</td>
    <td><%= dateChar[i] %></td>
  </tr>
 <table>
 <% } %>


<H2>HealthcareService details</H2>

<table>
  <tr>
    <td>SNOMED code</td>
    <td><%= hcsSNOMED %></td>
  </tr>
  <tr>
    <td>SNOMED display</td>
    <td><%= hcsDisplay %></td>
  </tr>
<table>

<H2>Organisation details</H2>

<table>
  <tr>
    <td>Organisation ODS</td>
    <td><%= orgODS %></td>
  </tr>
  <tr>
    <td>Organisation name</td>
    <td><%= orgName %></td>
  </tr>
<table>

<H2>Patient details</H2>

<table>
  <tr>
    <td>Patient NHS Number</td>
    <td><%= nhsnumber %></td>
  </tr>
  <tr>
    <td>Patient name</td>
    <td><%= patGiven + ' ' + patFamily %></td>
  </tr>
  <tr>
    <td>Patient DOB 1</td>
    <td><%= patDOB1 %></td>
  </tr>
  <tr>
    <td>Patient DOB 2</td>
    <td><%= patDOB2 %></td>
  </tr>
<table>

<H2>Practitioner details</H2>

<table>
  <tr>
    <td>Practitioner name</td>
    <td><%= pracPrefix + ' ' + pracGiven + ' ' + pracFamily %></td>
  </tr>
  <tr>
    <td>Practitioner SDS</td>
    <td><%= pracSDS %></td>
  </tr>
<table>



<%- include('partials/footer'); -%>